.img_character{ width:350px ; height: 480px ;}
body {
    background-image: url("https://images.unsplash.com/photo-1702412969868-713d9e87f305?q=80&w=1843&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;       /* Ajusta la imagen a toda la pantalla */
    background-repeat: no-repeat; /* Evita que se repita */
    background-position: center;  /* Centra la imagen */
    background-attachment: fixed; /* Opcional: efecto parallax */
}